* {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.5;

}

.header {
  background: linear-gradient(to right, #eca307, #8d6ded);
  padding: 20px;
   min-height: 200px;

}

.main {
   background: linear-gradient(to right, #fc25b1, #8d6ded);
  padding: 40px;
  min-height: 200px;
align-items: center;
}

.footer {
  background: linear-gradient(to right, #ef09b5, #8d6ded);
  padding: 40px;
   min-height: 150px;

}

.text {
  font-size: 18px;
}
